<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include about.html %}
  {% include title_appliedresearch.html %}
  {% include work_appliedresearch.html %}
  {% include title_teachingtesearch.html %}
  {% include work_teachingtesearch.html %}
  {% include title_books.html %}
  {% include work_books.html %}
  {% include title_projects.html %}
  {% include work_projects.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>